
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color:  #F5F0E6 ;
}
.contact_form{
    background-color: #494343;
    width: 100%;
    padding: 20px 30px;
    border: 2px solid #dfdf9f;
    box-shadow: 10px 0 15px rgba(0, 0, 0, 0.25);
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;


}
.container .contact_text .address{
    font-size: 15px;
    text-align: justify;
    padding: 5px 5px;
    position: relative;
    top: -30px

}

.container .contact_text .telephone{
    font-size: 15px;
    text-align: justify;
    padding: 5px 5px;
    position: relative;
    top: -50px

}
.container .contact_text .title{
    text-align: justify;
    position: relative;
    top: -30px;
    font-weight: bold;
}
.container .contact_text .title_small{
    text-align: justify;
    position: relative;
    top: -30px;
    color: red;
}
.input_txt{
    outline: none;
    border: none;
    padding: 15px 20px;
    width: 100%;
    border-radius: 40px;
    font-size: 14px;
}
.input_textArea{
    outline: none;
    border: none;
    padding: 15px 20px;
    width: 100%;
    border-radius: 20px;
    height: 300px;
    resize: none;
    font-size: 14px;
}

::placeholder{
    color: #9e8f8f;
    font-weight: 500;
    transition: opacity 0.5s ease;
}

.input_txt:focus::placeholder,
.input_textArea:focus::placeholder {
    opacity: 0;
}

.btn{
    background-color: #000;
    font-weight: 600;
    padding: 15px 20px;
    width: 35%;
    border: 2px solid yellow;
}
.btn:hover{
    opacity: 0.5;
    border: 2px solid yellow;
}