* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f0e6;
  font-size: 14px;
  line-height: 1.5;
}
.status-container {
  max-width: 700px;
  margin: 30px auto;
  background: rgb(247, 247, 247);
  border-radius: 20px;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.order-header {
  text-align: center;
  border-radius: 20px;
  margin-bottom: 10px;
  padding-bottom: 20px;
  background-color: rgb(45, 11, 213);
}
.order-header h2 {
  color: white;
  margin-bottom: 10px;
}
.order-header p {
  color: white;
}

.header {
  border-bottom: 3px solid #9c7e7e;
}
.timeline {
  position: relative;
  padding: 30px;
  margin: -20px 0;
}

.timeline-item {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
  position: relative;
}

.timeline-item:not(:last-child)::before {
  content: "";
  position: absolute;
  left: 24px;
  top: 50px;
  width: 2px;
  height: calc(100% + 10px);
  background: #e0e0e0;
}

.timeline-item.completed:not(:last-child)::before {
  background: #28a745;
}

.timeline-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  background: white;
}

.timeline-item.completed .timeline-icon {
  background: #28a745;
  color: white;
}

.timeline-item.active .timeline-icon {
  background: #e0e0e0;
  color: #999;
}

.timeline-item.pending .timeline-icon {
  background: #e0e0e0;
  color: #999;
}

.timeline-title {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  margin-bottom: 5px;
}

.timeline-desc {
  color: #666;
  font-size: 14px;
  margin-bottom: 5px;
}

.timeline-time {
  color: #999;
  font-size: 13px;
}

.order-id {
  color: #666;
  font-size: 14px;
}
.box-header,
.box-footer {
  padding: 30px;
  margin-bottom: 5px;
}
.line {
  border-bottom: 1px solid #333;
  margin: 10px 0;
}
.text-gray {
  color: #0a0909;
  font-weight: 600;
}

.btn-back,
.btn-danger {
  margin-top: 20px;
  width: 100%;
  border-radius: 20px;
  height: 45px;
}

.btn-danger:hover {
  transform: translateY(3px);
  transition: all 0.5s ease;
}
.btn-back:hover {
  transform: translateY(3px);
  transition: all 0.5s ease;
}
.btn-danger:active {
  opacity: 0.6;
  transition: all 0.5s ease;
}
.btn-back:active {
  opacity: 0.6;
  transition: all 0.5s ease;
}

@media (max-width: 768px) {
  body {
    padding: 10px;
  }

  .order-header h2 {
    font-size: 20px;
  }

  .order-id {
    font-size: 13px;
  }

  .btn {
    width: 100%;
    justify-content: center;
    margin: 8px 0;
    font-size: 15px;
    padding: 14px 20px;
  }
}

@media (max-width: 480px) {
  .order-header h2 {
    font-size: 18px;
  }

  table {
    font-size: 12px;
    min-width: 500px;
  }

  th,
  td {
    padding: 8px 5px;
  }

  .img_product img {
    width: 50px;
    height: 50px;
  }
}
