body {
    font-family: Arial, sans-serif;
    background: #f6f6f6;
    padding: 30px;
}

.review-container {
    width: 450px;
    margin:  20px auto;
    
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
}

.review-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-top: 15px;
}

label {
    font-weight: bold;
}

textarea {
    width: 100%;
    min-height: 90px;
    margin-top: 5px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

/* Stars */
.stars {
    display: flex;
    gap: 8px;
    font-size: 28px;
    cursor: pointer;
    margin-top: 5px;
}

.star {
    color: #ccc;
    transition: 0.2s;
}

.star.active, 
.star:hover,
.star:hover ~ .star {
    color: gold;
}

/* Preview ảnh */
#preview {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}

#preview img {
    width: 70px;
    height: 70px;
    border-radius: 6px;
    object-fit: cover;
}

.btn-submit {
    width: 100%;
    margin-top: 25px;
    padding: 12px;
    font-size: 16px;
    background: #ff4e4e;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.btn-submit:hover {
    background: #e03c3c;
}
/* Popup overlay */
.success-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

/* Hộp thông báo */
.popup-box {
    background: #fff;
    padding: 25px 30px;
    border-radius: 12px;
    text-align: center;
    animation: fadeIn 0.3s ease;
}

.popup-box h3 {
    margin-bottom: 10px;
}

.popup-box button {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    background: #ff4e4e;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
}

.popup-box button:hover {
    background: #e03c3c;
}

/* Animation */
@keyframes fadeIn {
    from { transform: scale(0.9); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}
